.clouds-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  overflow: hidden;
}

.cloud {
  position: absolute;
  width: var(--size, 100px);
  height: calc(var(--size, 100px) * 0.5);
  animation: drift var(--duration, 80s) linear var(--delay, 0s) infinite;
  top: var(--start-y, 15%);
  left: var(--start-x, -10%);
  opacity: 0.6;
}

.cloud-shape {
  width: 100%;
  height: 100%;
  filter: blur(3px);
}

@keyframes drift {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100vw + 200px));
  }
}
